// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#posts-home{
   
    display: flex;
    justify-content: space-evenly;
    


    .deewar-posts{
        width: 65%;
        border-right: 5px solid black;
        border-left: 5px solid black;
        background-color: #ffebcd80;
        padding-top: 25px;
    }

    .new-post-form{
        display: flex;
        justify-content: center;
        form{
            display: flex;

        }
    }
}

